@import "tailwindcss";





.ReactCrop__crop-selection {
  border: 2px solid 2px !important;
  box-shadow: 0 0 0 2px #00b89433;
}



/* Poignées de redimensionnement */
.ReactCrop__drag-handle {

  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid;
  box-shadow: 0 0 4px #00b89488;
  
}

.paysage{
  box-shadow: 10 20px  20px black;
  border-style:dotted;
}


@media (max-width: 1130px) {
.ulNavRef{
  clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 20%); 

}
}